<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<integer>1</integer>
	<key>10</key>
	<integer>1</integer>
	<key>101</key>
	<integer>4</integer>
	<key>102</key>
	<integer>4</integer>
	<key>103</key>
	<integer>5</integer>
	<key>105</key>
	<integer>2</integer>
	<key>106</key>
	<integer>3</integer>
	<key>108</key>
	<integer>3</integer>
	<key>113</key>
	<integer>4</integer>
	<key>12</key>
	<integer>1</integer>
	<key>15</key>
	<integer>2</integer>
	<key>16</key>
	<integer>3</integer>
	<key>17</key>
	<integer>2</integer>
	<key>18</key>
	<integer>2</integer>
	<key>19</key>
	<integer>2</integer>
	<key>2</key>
	<integer>1</integer>
	<key>20</key>
	<integer>2</integer>
	<key>21</key>
	<integer>3</integer>
	<key>22</key>
	<integer>1</integer>
	<key>23</key>
	<integer>1</integer>
	<key>24</key>
	<integer>3</integer>
	<key>26</key>
	<integer>3</integer>
	<key>27</key>
	<integer>2</integer>
	<key>28</key>
	<integer>7</integer>
	<key>29</key>
	<integer>3</integer>
	<key>30</key>
	<integer>3</integer>
	<key>32</key>
	<integer>6</integer>
	<key>33</key>
	<integer>3</integer>
	<key>34</key>
	<integer>1</integer>
	<key>35</key>
	<integer>3</integer>
	<key>36</key>
	<integer>4</integer>
	<key>37</key>
	<integer>4</integer>
	<key>38</key>
	<integer>7</integer>
	<key>39</key>
	<integer>7</integer>
	<key>4</key>
	<integer>3</integer>
	<key>42</key>
	<integer>4</integer>
	<key>43</key>
	<integer>4</integer>
	<key>44</key>
	<integer>4</integer>
	<key>45</key>
	<integer>1</integer>
	<key>46</key>
	<integer>7</integer>
	<key>48</key>
	<integer>4</integer>
	<key>49</key>
	<integer>4</integer>
	<key>50</key>
	<integer>4</integer>
	<key>51</key>
	<integer>5</integer>
	<key>52</key>
	<integer>4</integer>
	<key>53</key>
	<integer>4</integer>
	<key>55</key>
	<integer>1</integer>
	<key>56</key>
	<integer>3</integer>
	<key>57</key>
	<integer>5</integer>
	<key>59</key>
	<integer>4</integer>
	<key>60</key>
	<integer>4</integer>
	<key>61</key>
	<integer>3</integer>
	<key>62</key>
	<integer>5</integer>
	<key>63</key>
	<integer>5</integer>
	<key>64</key>
	<integer>3</integer>
	<key>68</key>
	<integer>3</integer>
	<key>69</key>
	<integer>5</integer>
	<key>70</key>
	<integer>8</integer>
	<key>71</key>
	<integer>4</integer>
	<key>72</key>
	<integer>3</integer>
	<key>74</key>
	<integer>5</integer>
	<key>75</key>
	<integer>3</integer>
	<key>76</key>
	<integer>6</integer>
	<key>77</key>
	<integer>8</integer>
	<key>78</key>
	<integer>3</integer>
	<key>79</key>
	<integer>3</integer>
	<key>8</key>
	<integer>3</integer>
	<key>80</key>
	<integer>5</integer>
	<key>81</key>
	<integer>5</integer>
	<key>83</key>
	<integer>3</integer>
	<key>84</key>
	<integer>3</integer>
	<key>85</key>
	<integer>2</integer>
	<key>86</key>
	<integer>2</integer>
	<key>87</key>
	<integer>3</integer>
	<key>88</key>
	<integer>3</integer>
	<key>89</key>
	<integer>6</integer>
	<key>9</key>
	<integer>3</integer>
	<key>90</key>
	<integer>4</integer>
	<key>92</key>
	<integer>5</integer>
	<key>93</key>
	<integer>2</integer>
	<key>94</key>
	<integer>4</integer>
	<key>95</key>
	<integer>3</integer>
	<key>96</key>
	<integer>2</integer>
	<key>97</key>
	<integer>3</integer>
	<key>98</key>
	<integer>3</integer>
</dict>
</plist>
